---
import Navbar from '../components/Navbar.astro';
import '../styles/site.css';
interface Props {
	title: string;
}

const { title } = Astro.props;
const url = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<Navbar url={url}></Navbar>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 85, 208, 255;
		--accent-light: 124, 232, 255;
		--accent-dark: 0, 172, 223;
		--accent-gradient: linear-gradient(
			0.25turn,
			rgb(var(--accent-light)),
			rgba(var(--accent)) 40%,
			rgb(var(--accent-dark))
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		height: 100vh;
		width: 100%;
	}
	body {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}
	header {
		height: 3rem;
	}
	main {
		flex: 1 0 0;
		overflow: auto;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
